/* Reset margin and padding for common elements */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  font-size: 72px;
  color: #ffffff;
  background: url("forest-background.jpg");
  background-size: auto;
  height: 500px;
  text-align: center;
}

header h1 {
  padding: 200px 0;
  font-size: 72px;
  font-family: 'Roboto Slab', serif;
}

/* Body styles */
body {
  background-color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
}

/* Headings and text styles */
h1 {
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-left: 10px;
}

h3 {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-left: 10px;
}

p {
  font-size: 20px;
  font-family: 'Fira Sans', serif;
  margin-left: 10px;
}

ul li {
  font-family: 'Fira Sans', serif;
  font-size: 20px;
}

/* Container styles */
.plot_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Make the container take the full height of the viewport */
}

/* SVG and chart styles */
svg {
  border: solid 1px #222;
}

svg > g.chart > rect.bar {
  fill: steelblue;
  stroke-width: 1px;
  stroke: #444;
  transition: fill 300ms;
}

svg > g.chart > rect.bar.new {
  fill: seagreen;
}

svg > g.chart > rect.bar.obs {
  fill: tomato;
}

svg > g.chart > rect.bar.highlight {
  fill: gold;
  stroke-width: 4px;
}

.tooltip {
  position: absolute;
  z-index: 10;
  opacity: 0;
  background: white;
  color: #000;
  border: solid 1px #222;
}
