
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}


header {
  font-size: 72px;
  color: #ffffff;
  background: url("forest-background.jpg");
  background-size: auto;
  height: 200px;
  text-align: center;
}

header h1 {
  padding: 50px 0;
  font-size: 72px;
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 50px;
}

h1 {
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-left: 20px;
}

h3 {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-left: 20px;
}

p {
  font-size: 20px;
  font-family: 'Fira Sans', serif;
  margin-left: 20px;
}

ul li {
  font-family: 'Fira Sans', serif;
  font-size: 20px;
}

form{
  font-size: 20px;
  font-family: 'Fira Sans', serif;
  margin-left: 20px;

}
.plot_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

.plot_container_narrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  
}

svg {
  border: solid 1px #222;
  font-family: 'Fira Sans', serif;
}

svg > g.axis {
  font-family: 'Fira Sans', serif;
  font: 12px serif;
}

svg > g.chart > rect.bar {
  fill: #43762f;
  stroke-width: 1px;
  stroke: #444;
  transition: fill 300ms;
}

svg > g.chart > rect.bar.new {
  fill: rgb(172, 223, 135);
}

svg > g.chart > rect.bar.obs {
  fill: #1E5631;
}

svg > g.chart > rect.bar.highlight {
  fill: rgb(255, 106, 0);
  stroke-width: 4px;
}

svg > g.chart > rect.bar.unhighlight {
  fill: gray;
}

.tooltip {
  font-family: 'Fira Sans', serif;
  font: 16px serif;
  position: absolute;
  z-index: 10;
  opacity: 0;
  background: white;
  color: #000;
  border: solid 1px #222;
}
#multipleSelection { 
  width: 300px; 
  background-color: #BCC2C1; 
} 

.selectBox { 
  position: relative; 
} 

.selectBox select { 
  width: 100%; 
  font-weight: bold; 
} 

.overSelect { 
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0; 
} 

#checkBoxes { 
  display: none; 
  border: 10px #8DF5E4 solid; 
  background-color: #6e0950;
} 

#checkBoxes label { 
  display: block; 
} 

#checkBoxes label:hover { 
  background-color: #6e0950; 
} 