
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
   
  header {
    font-size: 72px;
    color: #ffffff;
    background: url("forest-background.jpg") ;
    background-size: auto;
    height: 500px;
    text-align: center;
  }

  header h1{
    padding: 200px 0;
    font-size: 72px;
    font-family: 'Roboto Slab', serif;
  }
  
  body {
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
  }

  h1 {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
  }
  
  h2 {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-left: 10px;
  }
  h3 {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin-left: 10px;
  }

  p{
    font-size: 20px;
    font-family: 'Fira Sans', serif;
    margin-left: 10px;
  }
  
  ul li { 
    font-family: 'Fira Sans', serif;
    font-size: 20px;
 }
 
  
